*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: green;
}
/* header open sytle */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: green;
}
/* header sytle close */
/* logo */
.firstlogo img{
    width: 90px;
    height: auto;
    border-radius: 50%;
    box-shadow: 100px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}
/* logo close */

/* navbar links */
.link_container nav{
    display: flex;
    gap: 1.5rem;
}
.link_container nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}
.link_container nav a:hover {
    color: #ffd700;
}
/* ṇavbar close */

/* fontsome icon shopping bar or menu bar */
.bars {
    display: flex;
    gap: 15px;
    cursor: pointer;
}
.bars i{
    font-size:21px;
    color: #333;
    transition: color 0.3s ease;
}
.bars i:hover{
    color: #ffd700;
}
/* close fonticon bar */

/* image header */
.marquee-carousel {
    overflow: hidden;
    width: 100%;
    background-color: #f3f3f3; /* Optional background */
    display: flex;
    align-items: center;
}
.carousel-track {
    display: flex;
    animation: scroll 90s linear infinite;
}
.carousel-track img {
    width: 500px; /* Adjust size of images */
    margin-right: 10px; /* Optional space between images */
}

/* Keyframes for continuous scrolling */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Pause on hover */
.marquee-carousel:hover .carousel-track {
    animation-play-state: paused;
}



